<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8" name = "viewport" content = "width=device-width, initial-scale=1" />
		<link rel = "stylesheet" type = "text/css" href = "css/bootstrap.css"/>
		<link rel = "stylesheet" type = "text/css" href = "css/style.css"/>
		<title>HCI - Singidunum</title>
	</head>
	<body ng-app="myModule" ng-controller="myCtrl as myController">
	<div style = "padding-top:65px;">
		<nav class = "navbar navbar-default navbar-fixed-top">
			<div class = "container-fluid">
					<ul class="nav navbar-nav">
						<li ng-if="!myController.korisnikPrijavljenUser || !myController.korisnikPrijavljenAdmin"><a href="#" ng-click="myController.login()">Login</a></li>
						<li ng-if="myController.korisnikPrijavljenUser || myController.korisnikPrijavljenAdmin"><a href="#" ng-click="myController.korisnikPrijavljenUser = false; myController.korisnikPrijavljenAdmin = false; myController.logout()">Log out</a></li>
						<li ><div class="pull-right">
								<form class="navbar-form" role="search">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Pretraga" ng-model="myController.searchText">
											<div class="input-group-btn">
												<button class="btn btn-default btn-search" type="submit" ng-click="myController.init()"><i class="glyphicon glyphicon-search"></i></button>
											</div>
									</div>
								</form>
							</div>
						</li>
						<li><a>{{myController.message}}</a></li>
					</ul>
			</div>
		</nav>
	</div>
	<div class = "col-md-2">
				<div class="list-group">
					<a href="#" ng-click="myController.filterOcene(-1)"
							ng-class="{'aktivan':myController.p_grade==-1}"
							class="list-group-item">Svi proizvodi</a>
							<a ng-repeat="el in [1, 2, 3, 4, 5]"

								href="#" ng-click="myController.filterOcene(el)" class="list-group-item"
								ng-class="{'aktivan':myController.p_grade==el}">Ocena {{el}}</a>
				</div>
				<div class="list-group">
					<a href="#" ng-click="myController.filterCena(-1)"
							ng-class="{'aktivan':myController.p_price==-1}"
							class="list-group-item">Sve cene</a>

					<a href="#" ng-click="myController.filterCena(1)"
							ng-class="{'aktivan':myController.p_price==1}"
							class="list-group-item">Cene od 0 do 40</a>

					<a href="#" ng-click="myController.filterCena(2)"
							ng-class="{'aktivan':myController.p_price==2}"
							class="list-group-item">Cene vece od 40</a>
				</div>
				<div class="list-group">
					<a href="#" ng-click="myController.filterKolicine(-1)"
							ng-class="{'aktivan':myController.kolicina==-1}"
							class="list-group-item">Sve Kolicine</a>

					<a href="#" ng-click="myController.filterKolicine(1)"
							ng-class="{'aktivan':myController.kolicina==1}"
							class="list-group-item">Kolicine od 0 do 25</a>

					<a href="#" ng-click="myController.filterKolicine(2)"
							ng-class="{'aktivan':myController.kolicina==2}"
							class="list-group-item">Kolicine vece od 25</a>
				</div>
		<div style = "position:fixed; top:50px; right:0px; z-index:1;">
			<div class = "panel panel-primary">
				<div class = "panel-heading">
					<h5>MY CART</h5>
				</div>
				<div class = "panel-body table-responsive">
					<table class = "table">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = "cart in carts" ng-init = "setTotals(cart)">
								<td>{{cart.p_name}}</td>
								<td>€{{cart.p_price}}</td>
								<td><button type = "button" ng-click = "remove_cart(cart)" class = "btn btn-danger"><span class = "glyphicon glyphicon-remove"></span></button></td>
							</tr>
							<tr>
								<td align = "right">Total</td>
								<td>€{{total}}</td>
							</tr>
						</tbody>
					</table>
					<div style ="text-align: center; margin:0 auto;">
						<button type = "button" ng-click = "myController.checkout()" class = "btn btn-success"><span class = "glyphicon glyphicon-ok-sign"></span>Checkout</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "col-md-10">
		<div id = "bg-background" class = "col-md-10">
				<h4>Events<h4>
					<hr style = "border-top:1px groovy #ccc;">
						<div id = "product">
							<div id = "p_list" ng-repeat = "proizvod in myController.proizvodi.slice(((myController.currentPage-1)*myController.itemsPerPage), ((myController.currentPage)*myController.itemsPerPage))">
								<h5>{{proizvod.p_name}} Ocena: {{proizvod.p_grade}}</h5>
									<center><img ng-src = "{{proizvod.p_image}}"/></center>
										<div><label>Price: €{{proizvod.p_price}}</label>
											<div>
												<p ng-if="myController.korisnikPrijavljenUser"></p>
											</div>
											<div>
												<p ng-if="myController.korisnikPrijavljenAdmin"><input style="width:100px;" ng-model="proizvod.p_price" type="number" /></p>
											</div>
										</div>
										<center><button type = "button" ng-click = "add_cart(proizvod)"><span class = "glyphicon glyphicon-shopping-cart"></span> Add to cart</button></center>
							</div>
						</div>
						<!-- OVAJ DEO JE ZA LISTANJE STR IZBACEN
						<div style="text-align:center;" ng-if="myController.proizvod==null">
							<ul uib-pagination direction-links="true"
								total-items="myController.totalItems"
								ng-model="myController.currentPage"
								max-size="myController.maxSize"
								class="pagination-sm"
								boundary-links="true"
								num-pages="myController.smallnumPages">
							</ul>
						</div>
						-->
					</hr>
		</div>
			<script src = "js/angular.js"></script>
			<script src = "js/app.js"></script>
			<script src="bower_components/jquery/dist/jquery.min.js"></script>
			<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
			<script src="bower_components/angular/angular.min.js"></script>
			<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
			<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
			<!---LOGIN---->
			<script type="text/ng-template" id="myModalContent.html">
					<div class="modal-header">
						<h3 class="modal-title" id="modal-title" ng-if="$ctrl.stanje == 'Login'">Login</h3>
						<h3 class="modal-title" id="modal-title" ng-if="$ctrl.stanje == 'Registracija'">Registracija</h3>
					</div>
					<div class="modal-body" id="modal-body">
						<section class="login-form" ng-if="$ctrl.stanje == 'Login'">
								<form class="form-signin">
										<input type="text" placeholder="Korisnicko ime" required
											class="form-control input-lg" ng-model="$ctrl.username" />
										<input type="password" class="form-control input-lg"
											placeholder="Password" required ng-model="$ctrl.password" />
										<button class="btn btn-lg btn-primary btn-block" ng-click="$ctrl.login()">Login</button>
										<div>
												<a href="#" ng-click="$ctrl.stanje='Registracija';">Create account</a>
										</div>
								</form>
						</section>
						<section class="login-form" ng-if="$ctrl.stanje == 'Registracija'">
								<form class="form-signin">
										<input type="text" placeholder="Korisnicko ime" required
											class="form-control input-lg" ng-model="$ctrl.username" />
										<input type="password" class="form-control input-lg"
											placeholder="Password" required ng-model="$ctrl.password" />
										<input type="password" class="form-control input-lg"
											placeholder="Confirm password" required ng-model="$ctrl.confirmPassword" />
										<button class="btn btn-lg btn-primary btn-block" ng-click="$ctrl.register()">Registracija</button>
										<div>
												<a href="#" ng-click="$ctrl.stanje='Login';">Sign in</a>
										</div>
								</form>
						</section>
					</div>
					<div class="modal-footer">
							<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
					</div>
			</script>
			<!---/LOGIN--->
	</div>
</body>
</html>
